{% extends 'SplatourneyApp/base.html' %}
{% block title %} <h1> Player Registration </h1> {% endblock %}

{% block content %}
<body>

  <div class="container min-vh-100 d-flex justify-content-center align-items-center width-300px padding-bottom-5px">
    <div class="card">
      <div class="card-body">
        <form id="create_player" method="POST" action="{% url 'register' %}"> {% csrf_token %}
          <div class="mb-3">
            <label for="PlayerFirstName" class="form-label">FIRST NAME</label>
            <input type="text" class="form-control" id="FirstNameInput" name="FirstNameInput" placeholder="Enter First name">
          </div>
          <div class="mb-3">
            <label for="PlayerLastName" class="form-label">LAST NAME</label>
            <input type="text" class="form-control" id="LastNameInput" name="LastNameInput" placeholder="Enter Last name">
          </div>
          <div class="mb-3">
            <label for="ign" class="form-label">IGN</label>
            <input type="text" class="form-control" id="ignInput" name="ignInput" placeholder="Enter in-game name">
          </div>
          <div class="mb-3">
            <label for="PlayerDiscordID" class="form-label"> Discord ID</label>
            <input type="text" class="form-control" id="PlayerDiscordIDInput" name="PlayerDiscordIDInput" placeholder="Enter Discord ID">
          </div>
          <div class="mb-3">
            <label for="PlayerFriendCode" class="form-label">Friend Code</label>
            <input type="text" class="form-control" id="PlayerFriendCodeInput" name="PlayerFriendCodeInput" placeholder="Enter Friend Code">
          </div>
          <div class="mb-3">
            <label for="rank" class="form-label">CURRENT SPLATOON 3 RANK</label>
            <select class="form-select" id="PlayerRankInput" name="PlayerRankInput">
              <option selected>Select Rank</option>
              <option value="C-">C-</option>
              <option value="C">C</option>
              <option value="C+">C+</option>
              <option value="B-">B-</option>
              <option value="B">B</option>
              <option value="B+">B+</option>
              <option value="A-">A-</option>
              <option value="A">A</option>
              <option value="A+">A+</option>
              <option value="S-">S-</option>
              <option value="S+">S+</option>
              <option value="X">X</option>
            </select>
          </div>
            <div class="mb-3 justify-content-center" style="position:relative">
              <label for="roles" class="form-label pt-3">PREFERRED TEAM ROLES</label>
              <div class="mb-3" style="margin-left: 50px;">
                
                <input type="checkbox" class="form-check-input" id="front-line" value="Front-line">
                <label class="form-check-label" for="front-line">Front-line</label>

                <input type="checkbox" class="form-check-input" id="slayer" style="margin-left:25px;" value="Slayer">
                <label class="form-check-label" for="slayer" style="margin-left:50px">Slayer</label>
              </div>
              <div class="mb-3" style="margin-left: 50px;">
                <input type="checkbox" class="form-check-input" id="mid-line" value="Mid-Line">
                <label class="form-check-label" for="mid-line"style="margin-left:1px">Mid-line</label>

                <input type="checkbox" class="form-check-input" id="skirmisher" style="margin-left:37px;" value="Skirmsher">
                <label class="form-check-label" for="skirmisher"style="margin-left:60px">Skirmisher</label>
              </div>
              <div class="mb-3" style="margin-left: 50px;">
                <input type="checkbox" class="form-check-input" id="back-line" value="Back-line">
                <label class="form-check-label" for="back-line">Back-line</label>

                <input type="checkbox" class="form-check-input" id="support"style="margin-left:30px;" value="Support">
                <label class="form-check-label" for="support"style="margin-left:50px">Support</label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary justify-content-end">Submit</button>
            </div>
        </form>
      </div>
    </div>    
  </div>   
  

{% endblock %}